<div class="row">
  <div class="large-12 columns">
    <div class="row collapse prefix-radius">
      <div class="small-8 columns">
        <%= render "devise/registrations/register_form" %>
      </div>
    </div>
  </div>
</div>
