<footer>
  <div class="row">
    <div class="large-12 columns">
      <ul class="inline-list">
        <li><%= link_to 'townbik.es', root_path %></li>
        <li>about</li>
        <li>Copyright Cat Burston, 2014</li>
      </ul>
    </div>
  </div>
</footer>