<div id="carousel-container">
  <div class="row">
    <div class="large-12 columns">
      <div class="carousel">
        <div><%= image_tag("/assets/images/carousel-1.png") %></div>
        <div><%= image_tag("/assets/images/carousel-2.png") %></div>
        <div><%= image_tag("/assets/images/carousel-3.png") %></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <ul class="small-block-grid-3">
      <li><div class="city-locations" id="barcelona">Barcelona</div></li>
      <li><div class="city-locations" id="oslo">Oslo</div></li>
      <li><div class="city-locations" id="melbourne">Melbourne</div></li>
      <li><div class="city-locations" id="copenhagen">Copenhagen</div></li>
      <li><div class="city-locations" id="berlin">Berlin</div></li>
      <li><div class="city-locations" id="amsterdam">Amsterdam</div></li>
    </ul>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.carousel').slick({
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 1,
      slidesToScroll: 1
    });
  });
</script>
