<div class="row">
  <div class="large-12 columns">
    <div class="row collapse prefix-radius">
      <div class="small-8 columns">
      <h1>Map of <%= params[:search].capitalize %></h1>
        <div style="width: 640px;">
          <div id="multi_markers" style="width: 640px; height: 800px;"></div>
        </div>
      </div>
      <div class="small-4 columns">
        <h1>Results</h1>
        <dl class="accordion" data-accordion>
          <% locations.each do |location| %>
            <%= render 'bicycle', location: location %>
          <% end %>
        </dl>
      </div>
    </div>
  </div>
</div>

<script>
  var multiHandler = Gmaps.build('Google');
  multiHandler.buildMap({ internal: {id: 'multi_markers'}}, function(){
    var markers = multiHandler.addMarkers(<%= raw Location.markers(locations) %>);
    multiHandler.bounds.extendWith(markers);
    multiHandler.fitMapToBounds();
  });
</script>
