<div class="map">
  Map of Location
  <span class="location-address">
    <%= location.result || location.address || location.search %>
  </span>
  <div style="width: 800px;">
    <div id="geolocation" style="width: 800px; height: 600px;"></div>
  </div>
</div>
<script>

  var handler = Gmaps.build('Google');

  handler.buildMap({ internal: {id: 'geolocation'} }, function(){
    var marker = handler.addMarkers(<%= raw Location.markers(location) %>);
    handler.map.centerOn(marker[0]);
  });

</script>
