<div class="row">
  <div class="large-12 columns">
    <div class="row collapse prefix-radius">
      <div class="small-8 columns">
      <h1>Location</h1>
        <div style="width: 640px;">
          <div id="geolocation" style="width: 640px; height: 800px;"></div>
        </div>
      </div>
      <div class="small-4 columns">
        <ul class="no-bullet search-bicycle-results">
          <h1>Bicycles</h1>
            <%= render 'bicycle', location: location %>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'geolocation'} }, function(){
    var marker = handler.addMarkers(<%= raw Location.markers(location) %>);
    handler.map.centerOn(marker[0]);
  });
</script>
