
<div class="row">
  <div class="large-12 columns">
    <div class="row collapse prefix-radius">
      <div class="small-8 columns">
      <h1>Location details</h1>
        <div style="width: 800px;">
          <div id="geolocation" style="width: 800px; height: 600px;"></div>
        </div>
      </div>
      <div class="small-4 columns">
        <h1>Address</h1>
        <ul class="no-bullet">
          <li>
            <span class="location-address">
              <%= location.result || location.address || location.search %>
            </span>
          </li>
          <li><%= location.user.first_name %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'geolocation'} }, function(){
    var marker = handler.addMarkers(<%= raw Location.markers(location) %>);
    handler.map.centerOn(marker[0]);
  });
</script>
