<div class="row">
  <div class="large-12 columns">
    <div class="row collapse prefix-radius">
      <div class="small-8 columns">
        <h1>Edit bicycle location</h1>
        <%= render 'form', location: @location %>
      </div>
      <div class="small-4 columns">
        <h2>Return to</h2>
        <%= link_to 'My profile', edit_user_registration_path, class: "button" %>
        <%= link_to 'My bicycles', bicycles_path(:user_id => current_user.id), class: "button" %>
      </div>
    </div>
  </div>
</div>